
<ion-content padding class="bg-content">
  <ion-card class="user-cards" *ngFor="let history of historyResult, let i = index">
    <ion-item class="ion-item-style">
      <ion-avatar item-start>
        <img src="/../../assets/imgs/eat.jpg">
      </ion-avatar>
      <h2 class="general-color" >Merchant : {{history.namaTokoKey}}</h2>
    </ion-item>
    <ion-card-content>
      <p class="general-color">Item(s) : {{history.namaMenuKey}}</p>
      <p class="general-color">harga   : Rp. {{history.hargaKey}},00, Qty : 1 </p>
      <p class="general-color">Total   : Rp. {{history.totalHargaKey}},00 </p>
      <p class="general-color">Tanggal : {{history.waktuKey}}</p>
    </ion-card-content>
    <ion-row *ngIf="history.statusKey !== 'already pickup'? true: false">
      <ion-col width-50 style="text-align: center">
          <button ion-button color="light" round outline (click)="pickUpConfirm(i, history.idPenjualKey, history.totalHargaKey)" value="history[i].namaMenuKey"><span><p class="span">{{history.statusKey}}</p></span></button>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-card>
</ion-content>
