page-user-history {
    .user-cards{
        border-radius:20px;
        background-color:#ff9a00;
     }
     .ion-item-style{
         background-color:#ff9a00;
     }
     .general-color{
         color:#ffff;
     }
     .bg-content{
         background-color:#ffd350;
     }
     .span{
         color: black
     }
     .button{
         background-color:#BBF471;
     }
     .button-cards{
        border-radius:20px;
        background-color:#ffd350;
     }
     .color-button{
         color: green;
     }
}
