<ion-content class="background" style="vertical-align:middle;">
  <div style="height:80px;">&nbsp;</div>
    <img class="card-img" src="/../../assets/imgs/Ur-Wallet-icon.png" style="text-align:center;"/>
  <ion-card style="position:fixed; text-align: center;">
    <ion-segment [(ngModel)]="LogRes" style="padding : 15px">
        <ion-segment-button value="Login">
          Login
        </ion-segment-button>
        <ion-segment-button value="Register">
          Register
        </ion-segment-button>
      </ion-segment>
    <ion-card-content [ngSwitch]="LogRes">
      <ion-list *ngSwitchCase="'Login'">
        <ion-item no-line>
          <ion-input [(ngModel)]="emailLogin" type="text" placeholder="Email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="passwordLogin" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <button ion-button block outline color="light" (click)="login()">Log In</button>
      </ion-list>
      <ion-list *ngSwitchCase="'Register'">
        <ion-item no-line>
          <ion-input [(ngModel)]="emailRegister"  type="text" placeholder="Email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="passwordRegister"  type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="repasswordRegister" type="password" placeholder="Re-Password"></ion-input>
        </ion-item>
        <button ion-button block outline color="light" (click)="register()">Register</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>