page-login{

    .background{
        // background-image: url('/../../assets/imgs/background.jpg')
        background-color: #ff9a00;
      
    }
    .scroll-content{
        align-content: center;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card{
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    a,p,
    ion-card-header.card-header{
        color: #fff
    }

    .list > .item-block:first-child{
        border: medium none;
    }
    ion-item{
        border-radius: 25px;
    }


    .card-img{
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        // margin-bottom: 25px;
    }

    .item{
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;

        .text-input, {
            color: #fff;
        }

        input::-moz-placeholder{
            color: #fff!important;
        }
        input:-moz-placeholder{
            color: #fff!important;
        }
        
        *::-webkit-input-placeholder{
            color: #fff!important;
        }
        
        *:-ms-input-placeholder{
            color: #fff!important;
        }
        
        *:-moz-placeholder{
            color: #fff!important;
        }
    }

    .bottom{
        position: absolute;
        bottom: 0;
    }
}