<!--
Generated template for the AdminAddMerchantPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header>

<ion-navbar  color="orangeGelap">
    <ion-title>Admin Add Merchant</ion-title>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>    
</ion-navbar>
</ion-header>

<ion-content padding class="bg-content">
    
    <ion-avatar item-start style="width: 250px;" class="image">
        <img [src]="base64Image" *ngIf="base64Image">
        <ion-row>
            <ion-col width-50 style="text-align: center">
                <button class="btn-cam" ion-button color="red" round outline (click)="openMenu()"><ion-icon name="camera"></ion-icon></button>
            </ion-col>
          </ion-row>
</ion-avatar>

<br>
  <div class="box-form">
       
  <form [formGroup]="addMerchant" (ngSubmit)="onAddMerchant()">
    
     

    <ion-list>

      <ion-item class="item-style">
        <ion-input type="email" formControlName="email" required placeholder="Email"></ion-input>
      </ion-item>
      
      <ion-item class="item-style">       
        <ion-input type="password" formControlName="password" id="password" required placeholder="Password" ></ion-input>
      </ion-item>

      <ion-item class="item-style">        
      <ion-input type="password" formControlName="confirmPassword" id="confirmPassword" required placeholder="Confirm Password"></ion-input>
        <span id='message'></span>
      </ion-item>
      
      <ion-item class="item-style">        
        <ion-input type="text" formControlName="namaToko" required placeholder="Nama Toko"></ion-input>
      </ion-item>
      
      <ion-item class="item-style">
           <ion-input type="number" formControlName="saldo" required placeholder="Saldo"></ion-input>
      </ion-item>

      <ion-item class="item-style">
        <ion-textarea type="text" formControlName="desc" required placeholder="Description"></ion-textarea>
      </ion-item>

    </ion-list>
    <button class="item-style btn-style" color="orangeGelap" ion-button type="submit" block [disabled]="!addMerchant.valid">Submit</button>
  
  </form>
</div>
  

</ion-content>

 

<script>
    $('#password, #confirmPassword').on('keyup', function () {
      if ($('#password').val() == $('#confirmPassword').val()) {
        $('#message').html('Password Match').css('color', 'green');
      } else 
        $('#message').html("Password didn't Match").css('color', 'red');
    });
</script>
