page-admin-add-merchant {
    .bg-content{
        background-color:#ffd350;
    }
    
    .item-style{
        border-radius: 25px;
        margin: 10px 0;
        box-shadow: 0 5px 18px 0px rgba(0, 0, 0, 0.12);
    }

    .btn-style{
        margin-top: 30px;
    }

    .item-input-has-focus:last-child{
        border-bottom: white;
    }
    .image{
        margin: auto;
        padding: auto;
    }
    .button-camera {
        background-color: #488aff;
        outline:none;
        border: none;
        color: white;
        padding: 16px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        box-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin:10px 0;
      }


}
