page-penjual-edit-menu {
   
    .image{
        margin: auto;
        padding: auto;
    }

    .button{
        color: black;
    }
    .bg-content{
        background-color: #ffd350;
    }

    .item-style{
        border-radius: 25px;
        margin: 10px 0;
        box-shadow: 0 5px 18px 0px rgba(0, 0, 0, 0.12);
    }
    .arrow-left{
        float: left;
        color: white;
        margin-left: 10px;
    margin-top: 1px;
    }
    ion-icon{
        font-size: 1.7em;
    }
    .tambah-saldo{
        padding-top: 25px;
        text-align: center;
        font-weight: 600;
        color: blue;
        font-size: 18px;
    }

    .merchant-cards{
        border-radius:20px;
        background-color:#ff9a00;
    }
    .ion-item-style{
        background-color:#ff9a00;
    }
    .general-color{
        color:#ffff;
    }
    .bg-content{
        background-color:#ffd350;
    }
}
    

