<!--
  Generated template for the PenjualAddMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header>
    <ion-navbar color="orangeGelap">
      <ion-title>Update Menu</ion-title>
      <ion-buttons end>
          <button style="padding-right: 10px" class="button" ion-button (click) ="closeModal()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="bg-content">
    <ion-avatar item-start style="width: 250px;" class="image">
        <img  src="/../../assets/imgs/eat.jpg">
        <ion-row>
            <ion-col width-50 style="text-align: center">
                <button ion-button color="green" round outline><ion-icon name="camera"></ion-icon></button>
            </ion-col>
          </ion-row>
    </ion-avatar>
    <br>
  
    <form>
        <ion-list>
  
          <ion-item class="item-style">
            <ion-label fixed>Menu:</ion-label>
            <ion-input [(ngModel)]="tampMenu.menu" type="text" name="menu" required placeholder="menu"></ion-input>
          </ion-item>
  
          <ion-item class="item-style">
            <ion-label fixed>Harga:</ion-label>
            <ion-input [(ngModel)]="tampMenu.harga" type="number" name="harga" required placeholder="harga"></ion-input>
          </ion-item>
  
          <ion-item class="item-style">
            <ion-label fixed>Description:</ion-label>
            <ion-input [(ngModel)]="tampMenu.deskripsi" type="desc" name="desc" required placeholder="description"></ion-input>
          </ion-item>
  
        </ion-list>
  
        <!-- <p class="tambah-saldo" type="submit" >Tambah Saldo User?</p>  -->
        <ion-row>
          <ion-col width-50 style="text-align: center">
            <button class="item-style" ion-button type="submit" style="width: 155px;" color="green"
            (click)="btnUpdateMenu(tampMenu.id, tampMenu.menu, tampMenu.harga, tampMenu.desc)">Update</button>
          </ion-col>
        </ion-row>
      </form>
  </ion-content>
  