<!--
  Generated template for the AdminHistoryPenjualanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orangeGelap">
    <ion-title>History</ion-title>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>    
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-content">
  
  <ion-card  class="merchant-cards">
    <ion-item class="ion-item-style">
      <ion-avatar item-start>
        <img src="/../../assets/imgs/icn-user.png">
      </ion-avatar>
      <h2 class="general-color">Fariz Septian Quamala</h2>
      <p class="general-color">Merchant: Ayam Om</p>
    </ion-item>
    <!-- <img src="/../../assets/imgs/card-ayam.jpg"> -->
    <ion-card-content>
      <p class="general-color">Item(s): Paket Ayam Komplit,    Qty : 1 </p>
      <p class="general-color">Total  : Rp. 23000,00 </p>
      <p class="general-color">Date   : 24 November 2018, 12.20</p>
    </ion-card-content>
  </ion-card>

  <ion-card  class="merchant-cards" (click)="modalDetailsMerchant()">
    <ion-item class="ion-item-style ">
      <ion-avatar item-start>
        <img src="/../../assets/imgs/icn-user.png">
      </ion-avatar>
      <h2 class="general-color">Terry Oktavianus</h2>
      <p class="general-color">Merchant: Ketoprak</p>
    </ion-item>
    <!-- <img src="/../../assets/imgs/card-ayam.jpg"> -->
    <ion-card-content>
      <p class="general-color">Item(s): Ketoprak Basic,    Qty : 1 </p>
      <p class="general-color">Item(s): Tahu Bulat,    Qty : 3 </p>
      <p class="general-color">Total  : Rp. 27000,00 </p>
      <p class="general-color">Date   : 24 November 2018, 12.20</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
