<ion-content padding class="background">
  <ion-card *ngFor="let menu of menus, let i = index"  class="user-cards">
    <ion-item class="item-style" (click)="deskripsiKlik(menu.$key, menu.menu, menu.harga, menu.deskripsi)">
      <!-- ini looping nantinya-->
      <ion-thumbnail item-start>
        <img [src]="menu.picture">
      </ion-thumbnail>
      <h2 class="general-color">{{menu.menu}}</h2>
      <p class="general-color">{{menu.deskripsi}}</p>
      <p class="general-color"><span>Rp.</span>{{menu.harga}}</p>
      </ion-item>
  </ion-card>
</ion-content>
