page-user-menus {
    .harga{
        font-weight: bold;
    }
    .general-color{
        color:#ffff;
    }
    .background{
        background-color:#ffd350;
    }
    .item-style{
        background-color:#ff9a00;
    }
    .user-cards{
        border-radius:20px;
        background-color:#ff9a00;
     }
     
     .button{
        color: white;
    }
}
