<!--
  Generated template for the AdminMerchantModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header >
    <ion-navbar color="orangeGelap">
        <ion-icon name="arrow-back"  class="arrow-left" (click)="closeModal()"></ion-icon>
        <ion-title>Admin Home</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding class="bg-content">
    <ion-avatar item-start style="width: 250px;" class="image">
        <img  src="/../../assets/imgs/icn-merchant.png">
    </ion-avatar>
    <br>

    <form>
        <ion-list>

          <ion-item class="item-style">
            <ion-label fixed>Email</ion-label>
            <ion-input [(ngModel)]="email" type="text" name="email" required readonly
            value="Username"></ion-input>
          </ion-item>

          <ion-item class="item-style">
               <ion-label fixed>Nama Toko</ion-label>
               <ion-input [(ngModel)]="namaToko" type="text" name="namaToko" required
               placeholder="Nama Toko"></ion-input>
          </ion-item>

          <ion-item class="item-style">
            <ion-label fixed>Deskripsi</ion-label>
            <ion-input [(ngModel)]="deskripsi" type="text" name="deskripsi" required
            placeholder="Deskripsi"></ion-input>
       </ion-item>
        
          <ion-item class="item-style">
                <ion-label fixed>Saldo</ion-label>
                <ion-input [(ngModel)]="saldo" type="number" name="saldo" required readonly
                value="2000000"></ion-input>
          </ion-item>

        </ion-list>

        <button class="item-style" ion-button type="submit" style="width: 155px;" (click)="btnUpdateMenu(id, deskripsi, namaToko)">Save</button>
        <button class="item-style" ion-button type="button" style="width: 155px;" color="danger" (click)="presentPrompt(id, saldo)">Tarik Saldo</button>
    </form>

    

 
</ion-content>
