page-admin-merchant-modal {

    .image{
        margin: auto;
        padding: auto;
    }

    .bg-content{
        background-color: #ffd350;
    }

    .item-style{
        border-radius: 25px;
        margin: 10px 0;
        box-shadow: 0 5px 18px 0px rgba(0, 0, 0, 0.12);
    }
    .arrow-left{
        float: left;
        color: white;
        margin-left: 10px;
    margin-top: 1px;
    }
    ion-icon{
        font-size: 1.7em;
    }
}
