<ion-header>
  <ion-navbar color="orangeGelap">
    <ion-title>PickUp your Food</ion-title>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content style="padding : no-bounce" >
  <div ion-fixed style="height: 100%; width: 100%">
    <ion-item *ngFor="let store of stores">
        <h4>{{name}}</h4>  <span item-end><h3>Rp. 30000</h3></span>
    </ion-item>
    <ion-tabs>
      <ion-tab  [root]="page1" tabIcon="home" class="bg-content"> </ion-tab>
      <ion-tab  [root]="page2" tabIcon="ios-stats" class="bg-content"></ion-tab>
    </ion-tabs>
  </div>
</ion-content>



 <!-- <super-tabs class="bg-content" tabsPlacement="bottom">
      <super-tab [root]="page1" icon="home" class="bg-content"></super-tab>
      <super-tab [root]="page2" icon="ios-stats" class="bg-content"></super-tab>
    </super-tabs> -->
    <!-- <ion-card class="bg-content">
    <ion-item color="orangeGelap">
        <h4 class="font-style">{{name}}</h4>  <span item-end><h3 class="font-style">Rp. 30000</h3></span>
>>>>>>> 95a7691226a99d6def4157cce0be14fcb3da9234
    </ion-item>
    </ion-card> -->
    <!-- <super-tabs class="tab-style">
      <super-tab [root]="page1" icon="home"></super-tab>
      <super-tab [root]="page2" icon="ios-stats"></super-tab>
    </super-tabs> -->

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->