page-home {
    .merchant-cards{
       border-radius:20px;
       background-color:#ff9a00;
    }
    .ion-item-style{
        background-color:#ff9a00;
    }
    .general-color{
        color:#ffff;
    }
    .bg-content{
        background-color:#ffd350;
    }

    .font-style{
        color:#FFFFFF;
    }
    super-tabs-toolbar{
    position: absolute;
    right: 0;
    bottom: 0;
    }
    .selected{
        color:#ff9a00;
    }
}
