<!--
  Generated template for the AdminUserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="orangeGelap">
      <ion-icon name="arrow-back"  class="arrow-left" (click)="closeModal()"></ion-icon>
      <ion-title>Admin User Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-content">
  <ion-avatar item-start style="width: 250px;" class="image">
      <img  src="/../../assets/imgs/icn-user.png">
  </ion-avatar>
  <br>

  <form>
      <ion-list>

        <ion-item class="item-style">
          <ion-label fixed>Email</ion-label>
          <ion-input [(ngModel)]="email" type="text" name="username" required readonly
          placeholder="Email"></ion-input>
        </ion-item>

        <ion-item class="item-style">
             <ion-label fixed>Username</ion-label>
             <ion-input [(ngModel)]="username" type="email" name="email" required
             placeholder="Username"></ion-input>
        </ion-item>
      
        <ion-item class="item-style">
              <ion-label fixed>Saldo</ion-label>
              <ion-input [(ngModel)]="saldo" type="number" name="saldo" required readonly
              placeholder="0"></ion-input>
        </ion-item>

      </ion-list>

      <p class="tambah-saldo" (click)="alertAddSaldo(id,saldo)" >Tambah Saldo User?</p> 
      <!-- <button class="item-style" ion-button type="submit" style="width: 155px;" color="danger">Tarik Saldo</button> -->
  </form>


</ion-content>
