page-deskripsi-modal {
    .general-color{
        color:#ffff;
        text-align: center;
    }
    .buttonpl{
        text-align: center;
    }
    .card-title .col{
        width: 33.33%;
        text-align: center;
        color:#ffff;
    }
    .background{
        background-color:#ffd350;
    }
    .item-style{
        background-color:#ff9a00;
    }
    .user-cards{
        border-radius:20px;
        background-color:#ff9a00;
     }
     .user-card{
        background-color:#ff9a00;
     }
     .button-cards{
        border-radius:20px;
        background-color:#ffd350;
     }
     .color-button{
         color: green;
     }
}
