<!--
  Generated template for the DeskripsiModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="user-card">
  <ion-navbar>
    <ion-title>Description</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeDesc()">close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <ion-card class="user-cards" *ngFor="let menu of menus">
      <img [src]="menu.picture">
      <ion-card-content>
        <ion-card-title class="general-color">
          {{menu.name}}
        </ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
                <p class="general-color">{{menu.deskripsi}}</p>
                <p class="general-color">Qty : {{qty}} <span>item</span></p>
                <p class="general-color">Harga <span>Rp.</span>{{harga}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
              
            </ion-col>
            <ion-col col-8 item-center>
              <div class="general-color" text-center>
                <ion-card class="button-cards">
                    <button (click)="decrement()" class="color-button" ion-button icon-only clear>
                        <ion-icon name="remove"></ion-icon>
                      </button>
                      {{qty}}
                    <button (click)="increment()" class="color-button" ion-button icon-only clear>
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-card>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col width-100 style="text-align: center">
                  <button ion-button color="light" round outline (click)="buyButton(menu.userID, menu.menuID, menu.name, menu.deskripsi, qty, harga)"><span><p class="general-color">buy</p></span></button>
              </ion-col>
          </ion-row>
        </ion-grid>        
      </ion-card-content>
    </ion-card>
</ion-content>