<!--
  Generated template for the HistoryPenjualanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>history_penjualan</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-content padding class="bg-content">
  <ion-card  class="merchant-cards" *ngFor="let history of historyResult">
    <ion-item class="ion-item-style ">
      <h2 *ngFor="" class="general-color">{{history.emailPembeliKey}}</h2>
    </ion-item>
    <ion-card-content>
      <p class="general-color" ion-col width-50>Item(s) : {{history.namaMenuKey}} </p>
      <p class="general-color" ion-col width-50>Harga : Rp. {{history.hargaKey}},00, Qty : {{history.qtyKey} </p>
      <p class="general-color" ion-col width-50>Total : Rp. {{history.totalHargaKey}},00 </p>
      <p class="general-color" ion-col width-50>Date : {{history.waktuKey}}</p>
      <ion-row>
        <ion-col width-50 style="text-align: center">
          <button ion-button color="light" round outline><span><p class="span">Redy To Pick Up</p></span></button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>    
</ion-content>