<!-- <ion-nav [root]="rootPage"></ion-nav> -->



<!-- <ion-menu [content]="sideMenuContent">
        <ion-header >
            <ion-toolbar text-center class="font-style" color="orangeGelap" >
                <h2>Menu</h2>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list name="adminMenu">
                 <button ion-item (click)="onLoad(tabsPage)">
                    <ion-icon name="quote" item-left></ion-icon>
                    Quotes
                </button> 
                <button ion-item (click)="onLoad(settingsPage)">
                    <ion-icon name="settings" item-left></ion-icon>
                    Settings
                </button> 
                <div *ngIf="adminMenu">
                <p class="admin-bellow">Admin Bellow</p>
                <button ion-item (click)="onLoad(adminHome)">
                        <ion-icon name="home" item-left></ion-icon>
                        Home
                    </button>
                    <button ion-item (click)="onLoad(adminUser)">
                        <ion-icon name="person" item-left></ion-icon>
                        Users
                    </button>
                    <button ion-item (click)="onLoad(adminAddMerchant)">
                        <ion-icon name="cart" item-left></ion-icon>
                        Add Merchant
                    </button>
                    <button ion-item (click)="onLoad(adminHistory)">
                        <ion-icon name="book" item-left></ion-icon>
                        History
                    </button>
                    <button ion-item (click)="onLoad(adminBarcode)">
                        <ion-icon name="book" item-left></ion-icon>
                        Generate Barcode
                    </button>
                </div>
            </ion-list>

            <button class="btn-logout" ion-item (click)="onLogout()">
                <ion-icon name="power" item-left></ion-icon>  
                Logout
            </button>
        </ion-content>
 </ion-menu> -->
<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>