<ion-content class="background" style="padding : no-bounce">
  <ion-card class="bg-item">
    <ion-item >
        <h4>{{name}}</h4>  <span item-end><h3>Rp. {{price}}</h3></span>
      </ion-item>
 </ion-card>
  <ion-card class="user-cards" (click)="findmenus(merchant.$key)" *ngFor="let merchant of merchantList | async">
    <img class="card-img" src="/../../assets/imgs/card-ayam.png"/>
    <div class="card-title">{{merchant.namaToko}}</div>
    <div class="card-subtitle">{{merchant.deskripsi}}</div>
  </ion-card>
</ion-content>
