<ion-content class="card-background-page bg-content" style="padding-bottom: 10px">
 <ion-card class="bg-item">
    <ion-item >
        <h4>{{name}}</h4>  <span item-end><h3>Rp. {{price}}</h3></span>
      </ion-item>
 </ion-card>
  <ion-list >
    <ion-item-sliding *ngFor="let menu of menus | async" class="bg-content">
      <ion-item class="bg-content">
        <ion-card class="merchant-cards">
            <img class="card-img" src="/../../assets/imgs/card-ayam.jpg"/>
            <div class="card-title">{{menu.menu}}</div>
            <div class="card-subtitle">{{menu.harga}}</div>
            <!-- <div class="card-subtitle">{{menu.desc}}</div> -->
          </ion-card>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editOnSelected(menu.$key, menu.menu, menu.harga, menu.deskripsi)">
          <ion-icon name="ios-create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="deleteOnSelected(menu.$key)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab bottom right style="padding-bottom: 20px; padding-right: 10px">
    <button ion-fab (click)="modalAddMenu()">
      <ion-icon name='add'></ion-icon>
    </button>
  </ion-fab>
</ion-content>