page-home {
    .merchant-cards{
        border-radius:20px;
    }
    .ion-item-style{
        background-color:#ff9a00;
    }
    .general-color{
        color:#ffff;
    }
    .bg-content{
        background-color:#ffd350;
    }
    .bg-item{
        padding: 20px, 0px, 20px, 0px;
        border-radius:20px;
        background-color:#f9A602;
    }
    

    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }
        
        
        .card-img {
            width: 100%;
            height: 220px;
        }

        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
}