<!--
  Generated template for the UserHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>PickUp your Food</ion-title>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content style="padding : no-bounce">
  <div ion-fixed style="height: 100%; width: 100%">
    <ion-item class="background">
        <h4 class="general-color">Name</h4>  <span item-end><h3 class="general-color">Rp. 30000</h3></span>
    </ion-item>
    <super-tabs>
      <super-tab [root]="page1" icon="home"></super-tab>
      <super-tab [root]="page2" icon="ios-stats"></super-tab>
    </super-tabs>
  </div>
</ion-content>