<!--
  Generated template for the AdminGenerateBarcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color="orangeGelap">
        <ion-title>Generate Barcode</ion-title>
          <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
          </button>    
    </ion-navbar>
  </ion-header>
  
  <ion-content class="bg-content" padding="true">
  
    <div class="box-form">
      <br>
      <!-- <form #form="ngForm" (ngSubmit)="onGenerateBarcode(form)"> -->
        <ion-list>        
            <ion-item class="item-style">
              <ion-input type="text" required placeholder="My QR Code" [(ngModel)]="qrData"></ion-input>
            </ion-item>
          </ion-list>
          <button class="item-style btn-style" (click)="create()" color="orangeGelap" ion-button block ><ion-icon name="barcode"></ion-icon> Create Code</button>
          <button class="item-style btn-style" (click)="scan()" color="orangeGelap" block ion-button><ion-icon name="qr-scanner"></ion-icon> Scan</button>
          <button class="item-style btn-style" (click)="convertToPdf()" color="orangeGelap" block ion-button>Create Pdf</button>
          <button class="item-style btn-style" (click)="downloadPdf()" color="orangeGelap" block ion-button [disabled]="!pdfObj">Download Pdf</button>
          
      <!-- </form>  -->
      <ion-card *ngIf="createdCode">
        <ngx-qrcode qrc-element-type="img" qrc-class="qr" id="QR_Canvas" [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
          <p>Value: {{ createdCode }}</p>
        </ion-card-content>
      </ion-card>
    
    <ion-card *ngIf="scannedCode">
      <ion-card-content>
        <p>Result from Scan : {{ scannedCode }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  
  </ion-content>
  