page-admin-generate-barcode {

    
    .bg-content{
        background-color:#ffd350;
    }
    
    .item-style{
        border-radius: 25px;
        margin: 10px 0;
        box-shadow: 0 5px 18px 0px rgba(0, 0, 0, 0.12);
    }

    .btn-style{
        margin-top: 30px;
    }

    .item-input-has-focus:last-child{
        border-bottom: white;
    }
    .image{
        margin: auto;
        padding: auto;
    }
    .padding{
        padding: 10px;
    }

}
