<!--
  Generated template for the AdminHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="orangeGelap">
      <ion-title>Admin Home</ion-title>
        <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
        </button>    
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Search"
                   [(ngModel)]="queryText"
                   color="orangeGelap"
                   (ionInput)="searchMerchant()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">

<ion-card *ngFor="let item of arrData; let i = index" class="merchant-cards" (click)="modalDetailsMerchant(item.$key, item.deskripsi, item.email, item.namaToko, item.saldo)">
  <ion-item class="ion-item-style ">
    <ion-avatar item-start>
      <img src="/../../assets/imgs/icn-merchant.png">
    </ion-avatar>
    <h2 class="general-color">{{item.namaToko}}</h2>
    <p class="general-color">{{item.email}}</p>
  </ion-item>
  <!-- <img src="/../../assets/imgs/card-ayam.jpg"> -->
  <ion-card-content>
    <p class="general-color">{{item.deskripsi}}</p>
  </ion-card-content>
</ion-card>


</ion-content>
