<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="orangeGelap">
    <ion-title>Admin Users</ion-title>
      <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
      </button>    
</ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search"
                   [(ngModel)]="queryText"
                   color="orangeGelap"
                   (ionInput)="searchUser()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-content">
  <ion-card *ngFor="let item of arrData; let i = index"  class="merchant-cards" (click)="modalUser(item.$key, item.email, item.username, item.saldo)">
    <ion-item class="ion-item-style ">
      <ion-avatar item-start>
        <img src="/../../assets/imgs/icn-user.png">
      </ion-avatar>
      <p class="general-color">{{item.email}}</p>
    </ion-item>
  </ion-card>
  
  <!-- <ion-card  class="merchant-cards ">
      <ion-item class="ion-item-style ">
        <ion-avatar item-start>
          <img src="/../../assets/imgs/icn-user.png">
        </ion-avatar>
        <p class="general-color">Jurgen Klopp</p>
      </ion-item>
    </ion-card>
  
    <ion-card  class="merchant-cards ">
        <ion-item class="ion-item-style ">
          <ion-avatar item-start>
            <img src="/../../assets/imgs/icn-user.png">
          </ion-avatar>
          <p class="general-color">Pep Guardiola</p>
        </ion-item>
      </ion-card>
  
      <ion-card  class="merchant-cards ">
          <ion-item class="ion-item-style ">
            <ion-avatar item-start>
              <img src="/../../assets/imgs/icn-user.png">
            </ion-avatar>
            <p class="general-color">Sir Alex Ferguson</p>
          </ion-item> 

        </ion-card>-->
  
  </ion-content>
