page-admin {
    .merchant-cards{
        border-radius:20px;
        background-color:#ff9a00;
     }
     .ion-item-style{
         background-color:#ff9a00;
     }
     .general-color{
         color:#ffff;
     }
     .bg-content{
         background-color:#ffd350;
     }
}
